.contactusheroimage{
    position: absolute;
    top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contactusimage2.jpg");
    height: 50%;
    width: 100%;
    left: 0;
    color: white;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
  }

.contactusherotext {
    text-align: center;
    position: relative;
    top: 40%;
    width: 100%;
    color: #fff;
    font-family: cursive;
    font-size: 300%;
  }

.completecontact{
  text-align: center;
  font-family: cursive;
}

.contactpara{
  text-align: center;
  /* text-align: left; */
  /* position: relative; */
  /* animation: mymove 5s infinite; */
}

.contactpara1{
  animation: colorchange 2s infinite;
}

.contactpara2{
  animation: colorchange 2s infinite;
}

.contactpara3{
  animation: colorchange 2s infinite;
}

@keyframes colorchange{
    0%{color: red;}
    25%{color: pink;}
    /* 50%{color: palevioletred;} */
    50%{color: palevioletred;}
    100%{color: orange;}
}

.submit{
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit:hover{
  background-color: rgb(169,169,169);
  color: black;
}

.submit:active{
  transform: translateY(4px);
}

.image{
  height: 10vw;
}

.image:hover{
  background-color: black;
}

.contactfollowlist li{
  display: inline;
}

.topnav {
  top:0%;
  right:0;
  overflow: hidden;
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  width:100%;
}
.topnav a {

  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 1.09vw 1.25vw;
  text-decoration: none;
  font-size: 1.45vw;
}
.topnav a:hover {
  background-color: rgba(229,232,232);
  color: black;
  font-size:1.49vw;
}
.topnav a.active {
  background-color:#404040;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 0.46vw;
  margin-top:0.625vw;
  font-size: 1.328vw;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 0.46vw 0.781vw;
  margin-top: 0.625vw;
  margin-right: 1.25vw;
  background: #ddd;
  font-size: 1.328vw;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
.topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 1.093vw;
  }
.topnav input[type=text] {
    border: 0.0781vw solid #ccc;
  }
}
